/* @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap');

body {
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #f7f7f7;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    text-transform: uppercase;
}

a {
    font-weight: 600;
    text-transform: uppercase;

}

section {
    padding-top: 80px;
    padding-bottom: 80px;

}

.icon-box {
    width: 80px;
    height: 80px;
    background-color: #3a8878;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0 auto 24px auto;
    color: #fff;
}

.btnn {
    opacity: 1;
}

button {
    opacity: 0;
}

.info-box .btn-outline-success {
    background-color: #3a8878;
    border-color: #3a8878;
    border-radius: 100px;
    color: #fff;
}


.info-box:hover button {
    opacity: 1;

}

.info-box .btn-outline-success:hover {
    background-color: transparent;
    border-color: #3a8878;
    color: black;
}

.info-box:hover {
    background-color: #c9c9c9;
}

.icon-box i {
    font-size: 34px;
    
}

.info-box {
    border: 1px solid #F2F2F2;;
    border-bottom: 3px solid #e3e3e3;
    background-color: #fff;
}



.icon-box p {
    font-size: 40px;
    text-transform: uppercase;
} */
