@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap');

body {
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #f7f7f7;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    text-transform: uppercase;
}

a {
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;

}

/* section {
    padding-top: 80px;
    padding-bottom: 80px;

} */

#curriculum-section .divider {
    background-color: #3a8878;
    height: 2px;
    width: 250px;
    margin: 18px auto;
}

#curriculum-section .section-title {
    margin-top: 30px;
    
}



#curriculum-section .grade {
    background-color: #fff;
    border: 1px solid #F2F2F2;
    border-bottom: 3px solid #e3e3e3;
    padding: 8px 10px;
    margin-bottom: 8px;

}

#curriculum-section .grade p {
    margin-right: 5px;
    font-size: 24px;
}


#curriculum-section .grade .btn-grade {
    display: block;
    color: white;
    text-decoration: none;
    margin-right: 15px;
    padding: 14px 32px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #3a8878;
    border-color: #3a8878;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}



